.globeContainer {
    width: auto;
    height: auto;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    align-content: center;
    text-align: center;
    border-radius: 15%;
    border: 1.5px solid #fad4608a;
    outline: none;
    box-shadow: 0 0 30px rgb(255, 253, 121);
}